.header, .nav {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 70%;
  margin-left: 15%;
  margin-top: 2rem;
  padding: 2rem 2rem;
  position: fixed;
  top: 0;
  border: 1px solid white;
  border-radius: 5rem;
  z-index: 10;
}

.nav {
  width: 25vw;
}

.link {
  font-family: 'Montserrat';
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: white;
}

.link::after{
  content: '';
  width: 0%;
  height: 0.1rem;
  color: white;
  display: block;
  transition: 0.3s;
}

.link:hover::after{
  width: 100%;
}
