.header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 3;
}

.nav {
  width: 100%;
  padding: 2rem 3rem;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.links {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: black;
  transform: translateX(100%);
  transition: 500ms;
}

.display {
  transform: translateX(0%);
}

.link {
  font-family: 'Montserrat';
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.2rem;
  color: white;
  transition: 200ms;
}

.link:hover {
  color: orangered;
}

/* Hamburguer */

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 5rem;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line_top_bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line_top_bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

/* Hamburguer */
